@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    
    /* background: #7A7266; */
    /* height: 100vh; */
    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(/assets/img/slider-m.svg); */
    background-size: cover;
    background-image:  url(/assets/img/slider-m.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

}

.container-nav{
    display: flex;
    flex-direction: column;
    background-color: #2A2A2A ;
}

.logo{
    background-color: #2A2A2A;
    width: 83px;

    /* height: 83px; */
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  
    
}

.bg-transparent:hover{
    background-color: red;
}

.btn:hover{
background-color: red;
}

.frame-2{

display: flex;
flex-direction: column;
align-items: center;
padding: 0px 16px;
gap: 16px;
color: #FFFFFF;

position: absolute;
width: 100%;
height: 146px;
left: 0px;
top: 243px;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    /* width: 328px; */
    height: 81px; 
   
    
}

#titulo-1{
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 500;
    font-size: 1.125rem ;
    line-height: 1.375rem;
    display: flex;
    margin-bottom: 0;
}

#titulo-2{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 3.3125rem ;
    line-height: 4.4375rem;
    text-align: center;
    /* margin-bottom: 0; */
}

.acoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
    gap: 8px;
    column-gap:0.8rem;
   
}
.btn-acao{
    color:#FFFFFF;
    background-color: #7A7266;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 49px;
    padding: 16px 24px;
    gap: 10px;
    border:none;
    cursor: pointer;

}

.btn-acao:hover{
    background-color:#5A493E;
}